.lms-top-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.lms-top-modal {
    /*position: fixed;*/
    /*width: 100vh;*/
    height: 100vh;
    overflow-y: hidden;

    /*line-height: 1.5;*/
    /*-webkit-text-size-adjust: 100%;*/
    /*-moz-tab-size: 4;*/
    /*-o-tab-size: 4;*/
    /*tab-size: 4;*/
    /*font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,*/
    /*Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,*/
    /*"Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";*/
}


@media (min-width: 768px) {
    /*.lms-top-modal-overlay {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    position: fixed;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    z-index: 9999;*/
    /*    overflow-y: auto;*/
    /*}*/

    .lms-top-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 37.5rem;
        height: 46rem;
    }

    /*.lms-choose-access-button {*/
    /*  padding-top: 0.5rem;*/
    /*  padding-bottom: 0.5rem;*/
    /*}*/

    .lms-input {
        height: 3rem;
    }

    .lms-text-spacing {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .lms-condition-spacing {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }
}
