.lsm-top-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.lsm-top-modal {
    height: 100vh;
    overflow-y: hidden;
    z-index: 11;
}

.lsm-error-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25%;
}

.lsm-error-button {
    height: 3rem;
    padding: 0 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    border: none;
    color: #fff;
    cursor: pointer;
}

.lsm-border-standard {
    border-width: 1px;
    border-style: solid;
}


@media (min-width: 768px) {
    .lsm-top-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 37.5rem;
        max-height: 46rem;
        height: calc(100% - 48px);
    }

    .lsm-input {
        height: 3rem;
    }

    .lsm-text-spacing {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .lsm-condition-spacing {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }
}
