.lsm-header-container {
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    border-radius: .25rem 0.25rem 0 0;
}
