.lsm-header-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    border-radius: .25rem 0.25rem 0 0;
    box-sizing: border-box;
}
