.lsm-token-select-button {
    /*width: 75%;*/
    height: 2.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.lsm-token-clear-select-button {
    /*width: 75%;*/
    height: 2.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.lsm-token-select-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    top: 0;
    left: 0;
    z-index: 20;
}

.lsm-token-select-header {
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    /*border-radius: .25rem 0.25rem 0 0;*/
}

.lsm-top-tokens-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.lsm-top-token-chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0;
}

.lsm-token-select-dropdown-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.lsm-token-select-dropdown {
    margin-top: 0.4rem;
}

.lsm-token-select__control {
    height: 2.7rem;
    /*width: calc(100% - 2rem);*/
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    /*padding-left: 1rem;*/
    /*padding-right: 1rem;*/
}
