/* .lms-dropdown-container {
  display: none;
  position: absolute;
}

.lms-simple-select-option {
  transition-duration: 0.2s;
}

.lms-simple-select-option:hover {
  background-color: #d4d4d4;
} */

/* .btn-buy {
	border: 1px solid #dedede;
  border-bottom: 1px solid #b5b5b5;
	border-right: none;
	border-radius: 3px 0 0 3px;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 14px;
	margin-top: 15px;
	background: linear-gradient(#fff, #EFEFEF);
}
.btn-buy:hover {
	background: #EFEFEF;
}
.btn-buy-list {
	border: 1px solid #dedede;
  border-bottom: 1px solid #b5b5b5;
	border-radius: 0 3px 3px 0;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 10px;
	background: linear-gradient(#fff, #EFEFEF);
	margin-left: -10px;
	position: relative;
}
.btn-buy-list:hover {
	background: #EFEFEF;
}
.btn-buy:active,
.btn-buy:focus,
.btn-buy-list:active,
.btn-buy-list:focus {
	outline: none;
	background: #ddd;
}
.btn-arrow {
	width: 0;
	height: 0;
	border-top: 5px solid black;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	position: relative;
  top: 10px;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
	display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: -1px 0 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu a {
	text-decoration: none;
}
.dropdown-menu a li {
	font-size: 12px;
	font-family: arial,sans-serif;
	color: #222;
	padding: 5px 15px;
}
.dropdown-menu a li:hover {
	background-color: #bae2fc;
} */
