.lsm-delete-modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.lsm-delete-modal {
    max-width: 70%;
    height: auto;
    border-width: 10px;
    border-radius: 0.25rem;
    z-index: 30;
    padding: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
