body {
  margin: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor
}

:before,
:after {
  --tw-content: ""
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}

body {
  margin: 0;
  line-height: inherit
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button,
select {
  text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0
}

fieldset {
  margin: 0;
  padding: 0
}

legend {
  padding: 0
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0
}

textarea {
  resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

button,
[role=button] {
  cursor: pointer
}

:disabled {
  cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle
}

img,
video {
  max-width: 100%;
  height: auto
}

[hidden] {
  display: none
}

*,
:before,
:after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

.lms-fixed {
  position: fixed
}

.lms-absolute {
  position: absolute
}

.lms-relative {
  position: relative
}

.lms-bottom-0 {
  bottom: 0px
}

.lms-left-0 {
  left: 0px
}

.lms-top-0 {
  top: 0px
}

.lms-z-\[9999\] {
  z-index: 9999
}

.lms-z-30 {
  z-index: 30
}

.lms-z-10 {
  z-index: 10
}

.lms-z-20 {
  z-index: 20
}

.lms-m-0 {
  margin: 0
}

.lms-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.lms-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.lms-my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem
}

.lms-my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem
}

.lms-mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.lms-mt-6 {
  margin-top: 1.5rem
}

.lms-mb-4 {
  margin-bottom: 1rem
}

.lms-mt-8 {
  margin-top: 2rem
}

.lms-ml-4 {
  margin-left: 1rem
}

.lms-mb-2 {
  margin-bottom: .5rem
}

.lms-mt-12 {
  margin-top: 3rem
}

.lms-mt-4 {
  margin-top: 1rem
}

.lms-mt-2 {
  margin-top: .5rem
}

.lms-ml-2 {
  margin-left: .5rem
}

.lms-mb-8 {
  margin-bottom: 2rem
}

.lms-mr-4 {
  margin-right: 1rem
}

.lms-mr-2 {
  margin-right: .5rem
}

.lms-mb-20 {
  margin-bottom: 5rem
}

.lms-mr-1 {
  margin-right: .25rem
}

.lms-mr-8 {
  margin-right: 2rem
}

.lms-mr-16 {
  margin-right: 4rem
}

.lms-ml-6 {
  margin-left: 1.5rem
}

.lms-mt-20 {
  margin-top: 5rem
}

.lms-ml-1 {
  margin-left: .25rem
}

.lms-mb-16 {
  margin-bottom: 4rem
}

.lms-block {
  display: block
}

.lms-flex {
  display: flex
}

.lms-hidden {
  display: none
}

.lms-h-12 {
  height: 3rem
}

.lms-h-full {
  height: 100%
}

.lms-h-8 {
  height: 2rem
}

.lms-h-14 {
  height: 3.5rem
}

.lms-h-4 {
  height: 1rem
}

.lms-h-5\/6 {
  height: 83.333333%
}

.lms-h-auto {
  height: auto
}

.lms-h-16 {
  height: 4rem
}

.lms-h-28 {
  height: 7rem
}

.lms-h-6 {
  height: 1.5rem
}

.lms-w-6\/12 {
  width: 50%
}

.lms-w-full {
  width: 100%
}

.lms-w-11\/12 {
  width: 91.666667%
}

.lms-w-9\/12 {
  width: 75%
}

.lms-w-8\/12 {
  width: 66.666667%
}

.lms-w-20 {
  width: 5rem
}

.lms-w-6 {
  width: 1.5rem
}

.lms-w-8 {
  width: 2rem
}

.lms-cursor-pointer {
  cursor: pointer
}

.lms-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.lms-flex-row {
  flex-direction: row
}

.lms-flex-col {
  flex-direction: column
}

.lms-flex-wrap {
  flex-wrap: wrap
}

.lms-items-center {
  align-items: center
}

.lms-justify-start {
  justify-content: flex-start
}

.lms-justify-end {
  justify-content: flex-end
}

.lms-justify-center {
  justify-content: center
}

.lms-justify-between {
  justify-content: space-between
}

.lms-justify-around {
  justify-content: space-around
}

.lms-overflow-auto {
  overflow: auto
}

.lms-overflow-scroll {
  overflow: scroll
}

.lms-break-words {
  overflow-wrap: break-word
}

.lms-rounded {
  border-radius: .25rem
}

.lms-rounded-t-lg {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem
}

.lms-border {
  border-width: 1px
}

.lms-border-2 {
  border-width: 2px
}

.lms-border-b {
  border-bottom-width: 1px
}

.lms-border-brand-4 {
  border-color: #8159d9
}

.lms-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.lms-border-brand-5 {
  --tw-border-opacity: 1;
  border-color: rgb(44 12 114 / var(--tw-border-opacity))
}

.lms-border-brand-2 {
  --tw-border-opacity: 1;
  border-color: rgb(230 220 250 / var(--tw-border-opacity))
}

.lms-border-gray {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity))
}

.lms-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.lms-bg-brand-4 {
  background-color: #8159d9
}

.lms-bg-brand-light {
  --tw-bg-opacity: 1;
  background-color: rgb(240 236 248 / var(--tw-bg-opacity))
}

.lms-bg-modal-overlay {
  background-color: #000000a6
}

.lms-bg-light-modal-overlay {
  background-color: #0000004d
}

.lms-bg-initial-blue {
  background-color: #0094ff38
}

.lms-bg-brand-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(230 220 250 / var(--tw-bg-opacity))
}

.lms-bg-contain {
  background-size: contain
}

.lms-bg-center {
  background-position: center
}

.lms-bg-no-repeat {
  background-repeat: no-repeat
}

.lms-p-3 {
  padding: .75rem
}

.lms-p-2 {
  padding: .5rem
}

.lms-p-6 {
  padding: 1.5rem
}

.lms-p-1 {
  padding: .25rem
}

.lms-p-4 {
  padding: 1rem
}

.lms-p-0 {
  padding: 0
}

.lms-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.lms-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.lms-py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.lms-px-2 {
  padding-left: .5rem;
  padding-right: .5rem
}

.lms-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.lms-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.lms-py-0 {
  padding-top: 0;
  padding-bottom: 0
}

.lms-px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.lms-py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem
}

.lms-py-2\.5 {
  padding-top: .625rem;
  padding-bottom: .625rem
}

.lms-px-2\.5 {
  padding-left: .625rem;
  padding-right: .625rem
}

.lms-py-1\.5 {
  padding-top: .375rem;
  padding-bottom: .375rem
}

.lms-px-1\.5 {
  padding-left: .375rem;
  padding-right: .375rem
}

.lms-py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem
}

.lms-px-1 {
  padding-left: .25rem;
  padding-right: .25rem
}

.lms-pt-4 {
  padding-top: 1rem
}

.lms-pb-2 {
  padding-bottom: .5rem
}

.lms-pr-8 {
  padding-right: 2rem
}

.lms-text-left {
  text-align: left
}

.lms-text-center {
  text-align: center
}

.lms-text-xs {
  font-size: .75rem;
  line-height: 1rem
}

.lms-text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.lms-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.lms-leading-normal {
  line-height: 1.5
}

.lms-text-brand-4 {
  color: #8159d9
}

.lms-text-brand-light {
  --tw-text-opacity: 1;
  color: rgb(240 236 248 / var(--tw-text-opacity))
}

.lms-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.lms-text-dark-gray {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity))
}

.lms-text-next-button {
  color: #00000042
}

.lms-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.lms-text-secondary {
  --tw-text-opacity: 1;
  color: rgb(0 5 51 / var(--tw-text-opacity))
}

.lms-underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline
}

.lms-duration-200 {
  transition-duration: .2s
}

body {
  margin: 0
}

.modal {
  max-width: 24rem;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%)
}

button {
  cursor: pointer
}

.lms-condition-shadow {
  background: rgba(0, 148, 255, .22);
  box-shadow: 1px 1px 4px #04134740;
  border-radius: 2px
}

.lms-capitalize-and-size {
  font-weight: 700;
  font-size: .8rem
}

.lms-delete-transparent {
  background-color: transparent
}

@media (min-width: 768px) {
  .lsm-top-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    height: 46rem;
    border-radius: .25rem
  }
  .lms-choose-access-button {
    padding-top: .5rem;
    padding-bottom: .5rem
  }
  .lms-input {
    height: 3rem
  }
  .lms-text-spacing {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    text-align: left
  }
  .lms-condition-spacing {
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: left
  }
}

.hover\:lms-border-2:hover {
  border-width: 2px
}

.hover\:lms-bg-gray:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity))
}

.disabled\:lms-bg-gray:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity))
}

@media (min-width: 768px) {
  .md\:lms-mb-0 {
    margin-bottom: 0
  }
  .md\:lms-w-11\/12 {
    width: 91.666667%
  }
  .md\:lms-text-base {
    font-size: 1rem;
    line-height: 1.5rem
  }
}

.modal {
  max-width: 24rem;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

button {
  cursor: pointer;
}

.lms-condition-shadow {
  background: rgba(0, 148, 255, 0.22);
  box-shadow: 1px 1px 4px rgba(4, 19, 71, 0.25);
  border-radius: 2px;
}

.lms-capitalize-and-size {
  font-weight: bold;
  font-size: 0.8rem;
}

.lms-delete-transparent {
  background-color: transparent;
}

@media (min-width: 768px) {
  .lsm-top-modal {
    /* z-index: 100; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    height: 46rem;
    border-radius: 0.25rem;
  }

  .lms-choose-access-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lms-input {
    height: 3rem;
  }

  .lms-text-spacing {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .lms-condition-spacing {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }
}
