@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.modal {
  max-width: 24rem;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

button {
  cursor: pointer;
}

.lms-condition-shadow {
  background: rgba(0, 148, 255, 0.22);
  box-shadow: 1px 1px 4px rgba(4, 19, 71, 0.25);
  border-radius: 2px;
}

.lms-capitalize-and-size {
  font-weight: bold;
  font-size: 0.8rem;
}

.lms-delete-transparent {
  background-color: transparent;
}

@media (min-width: 768px) {
  .lsm-top-modal {
    /* z-index: 100; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    height: 46rem;
    border-radius: 0.25rem;
  }

  .lms-choose-access-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lms-input {
    height: 3rem;
  }

  .lms-text-spacing {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .lms-condition-spacing {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }
}