.lms-reusable-select-button {
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

.lms-reusable-select-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
    z-index: 100;
}

.lms-reusable-select-title {
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}

.lms-reusable-select-option-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.lms-reusable-select-option {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    border-style: solid;
    padding: .75rem;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition-duration: 0.2s;
}
